@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: fontFamilyBold;
  src: url(fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: fontFamilyMedium;
  src: url(fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: fontFamilyRegular;
  src: url(fonts/DMSans-Regular.ttf);
}

.ffb {
  font-family: fontFamilyBold !important;
}

.ffm {
  font-family: fontFamilyMedium !important;
}

.ffr {
  font-family: fontFamilyRegular !important;
}

.hoverBTN:hover {
  background-color: #9f1239 !important;
}

img {
  user-select: none;
}

.right-next {
  right: -40px;
}

.left-prev {
  left: -53px;
}

@media screen and (max-width: 650px) {
  /* header */
  .logo-title {
    display: none !important;
  }
  .logo-icon {
    width: 30px;
  }
  .watch-btn {
    display: none;
  }
  .watch-bumberger {
    display: block;
  }
  .search-bar {
    width: 100%;
  }
  /* header */
  /* hero */
  .box-film {
    display: none;
  }
  /* hero */
  .title-card {
    font-size: 0.7rem !important;
  }
  .genre-card {
    font-size: 0.6rem !important;
  }
  .meta-score {
    font-size: 12px !important;
  }
  .drawer-card {
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  .title-sec {
    font-size: 20px !important;
  }
  .see-more {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 650px) {
  .watch-bumberger {
    display: none;
  }
}
