@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: fontFamilyBold;
  src: url(./fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: fontFamilyMedium;
  src: url(./fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: fontFamilyRegular;
  src: url(./fonts/DMSans-Regular.ttf);
}

.ffb {
  font-family: fontFamilyBold !important;
}

.ffm {
  font-family: fontFamilyMedium !important;
}

.ffr {
  font-family: fontFamilyRegular !important;
}

.bg-hero {
  background-image: url(./public/images/Poster.png);
  background-size: cover;
}

.hoverBTN:hover {
  background-color: #9f1239 !important;
}

img {
  user-select: none;
}

.right-next {
  right: -40px;
}

.left-prev {
  left: -53px;
}
